<template lang="pug">
  section.about-id-sect(ref="aboutSect")
    .container-sect
      .about-id
        .about-id__wrap.about-id__wrap_left
          h2.about-id__title Worked with us
          ul.about-id__working
            li(v-for="logo of workedWidth").about-id__work-item
              figure.about-id__itm-logo
                img(:src="logo", alt="logotype client")
        .about-id__wrap.about-id__wrap_right
          h2.about-id__title Briefly about id.
          p.about-id__text
            |Hello, world! We need to get to know each other better. We are a small IT company with great creative ambitions, but this is not the main thing. We are able to create cool products using unique ideas and ambitions to motivate creativity. If you want to implement your cool idea in life and you need the help of like-minded people, then contact us and together we will make it happen.
          //p.about-id__text
            | Magna officia ut qui excepteur velit aliqua aliqua ullamco.  Non duis culpa magna et ex esse reprehenderit non officia labore anim voluptate.
</template>

<script>
export default {
  name: 'About',
  data() {
    return {
      workedWidth: [
        'img/worked-with/ecplaza.svg',
        'img/worked-with/hitechnic.svg',
        'img/worked-with/synterra.svg',
        'img/worked-with/alfaleads.svg',
        'img/worked-with/mvideo.svg',
        'img/worked-with/mulberry.svg',
        'img/worked-with/poa.svg',
        'img/worked-with/ledger.svg',
        'img/worked-with/foxline.svg'
      ]
    }
  }
}
</script>

<style lang="scss">
.about-id {
  @extend %df;
  @extend %jcsb;
  &-sect {
    // height: 102vh;
    // @extend %df;
    // @extend %aic;
    padding-top: 195px;
    min-width: 100vw;
    background-color: $black;
    height: 100vh;
  }
  &__wrap {
    &_left {
      max-width: 453px;
    }
    &_right {
      max-width: 480px;
    }
  }
  &__title {
    @extend %h1-title;
    color: $white;
    margin-bottom: 48px;
  }
  &__working {
    @extend %df;
    @extend %fw;
    @extend %jcsb;
  }
  &__work-item {
    margin-bottom: 39px;
  }
  &__text {
    @extend %simple-text;
    color: $white;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@include bp(1300px) {
  .about-id {
    &-sect {
      padding-top: 150px;
    }
  }
}
@include bp(1190px) {
  .about-id {
    flex-direction: column;
    &-sect {
      padding-bottom: 150px;
      height: auto;
    }
    &__wrap {
      &_right {
        margin-top: 133px;
        max-width: 100%;
      }
    }
  }
}
@include bp(766px) {
  .about-id {
    width: 100%;
    &__title {
      font-size: rem(30);
      line-height: rem(33);
    }
    &__text {
      font-size: rem(14);
      line-height: rem(21);
    }
    &-sect {
      padding-top: 100px;
      padding-bottom: 108px;
    }
    &__working {
      
    }
  }
}
</style>
