<template lang="pug">
  section.brief-sect(ref="section")
    .container-sect
      form.brief(@submit.prevent="submitData")
        h2.brief__title Fill out a brief summary of your project
        .brief__product-types
          h3.brief__small-title Type of product
          ul.brief__types
            li.brief__type-itm(v-for="type of brief_types" :key="type")
              div.brief__type-btn(:class="{selected: selected_product_type.includes(type)}" @click="selectProductType(type)")
                span {{type}}
        .brief__budget
          h3.brief__small-title Budget
          .brief__range-wrap
            .brief__range
              VueSlider(v-model="range_value" :data="range_data" :tooltip="'active'" :use-keyboard="true" :dotSize="20" :dotStyle="tooltipStyle" :disabled="range_disabled")
            div.brief__badget-know(:class="{ red_mode: budget }" @click="dontKnowBudget") Don't know
        .brief__task
          .brief__text-wrap
            h3.brief__small-title Your task
            textarea(name="task" v-model="task_text" placeholder="Write something about your product").brief__textarea
          .brief__attach-wrap
            h3.brief__small-title Contact details
            .brief__contact-wrap
                BaseInput(placeholder="Your name?" v-model="first_name").brief__input
                BaseInput(placeholder="Company" v-model="input_company").brief__input
                BaseSelect(:options="messengers" placeholder="Messenger" v-model="selected_messenger").home-select
                BaseInput(placeholder="Login or phone" v-model="messenger_username").brief__input
                BaseInput(placeholder="Email" v-model="input_email").brief__input
                BaseInput(placeholder="Phone" v-model="input_phone").brief__input
            .brief__wrap-btn
              button.brief__submit
                span Get in touch
                BaseIcon(name="arrow-right" width="12" height="24" mod="cta")
              p.brief__terms-text By clicking on the "Get in touch" button, you consent to the processing of your personal data


</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'
import $http from '@/service'
export default {
  name: 'Brief',
  components: {
    VueSlider
  },
  data() {
    return {
      brief_types: [
        'System or service',
        'Mobile app',
        'Fintech',
        'UX expertise',
        'Corporate website',
        'Online store',
        'Promotion',
        'Other...'
      ],
      selected_product_type: [],
      range_value: 'Less than $10k',
      range_data: [
        'Less than $10k',
        '$10k',
        '$25k',
        '$50k',
        '$100k',
        'More than $250k'
      ],
      range_disabled: false,
      task_text: '',
      first_name: '',
      input_company: '',
      input_email: null,
      messenger_username: '',
      input_phone: '',
      selected_messenger: null,
      messengers: [
        {
          val: 'WhatsApp',
          text: 'WhatsApp'
        },
        {
          val: 'Skype',
          text: 'Skype'
        },
        {
          val: 'Telegram',
          text: 'Telegram'
        },
        {
          val: 'Facebook',
          text: 'Facebook'
        }
      ],
      files: [],
      show_tooltip: true,
      tooltipStyle: {
        'border-width': 3,
        'border-style': 'solid',
        'border-color': '#6B8CB0',
        'background-color': 'white'
      }
    }
  },
  methods: {
    selectProductType(name) {
      if(this.selected_product_type.includes(name)) {
        const index = this.selected_product_type.findIndex(item => item === name);
        const result = [...this.selected_product_type];
        result.splice(index, 1)
        return this.selected_product_type = result
      } else {
        this.selected_product_type.push(name)
      }
    },
    dontKnowBudget() {
      if (this.range_disabled) {
        this.range_value = 'Less than $10k'
      } else {
        this.range_value = 'Я ебаная нищенка и не знаю кукой у меня бюджет'
      }

      this.range_disabled = !this.range_disabled
    },
    uploadFile(e) {
      let file = e.target.files
      if (this.files.length == 0) {
        this.files = [...file]
      } else {
        this.files.push(...file)
      }
    },
    addFile() {
      this.$refs.fileInput.click()
    },
    removeFile(name) {
      const file = this.files.findIndex(el => el.name === name)

      this.files.splice(file, 1)
    },
    submitData() {
      const SendingData = {
        'Лид с сайта': '%0A',
        'Тип продукта': this.selected_product_type,
        'Бюджет': this.range_value,
        'Описание задачи': this.task_text.replace(/\r?\n/g, '%0A') + '%0A',
        'Данные пользователя': '%0A',
        'Имя': this.first_name,
        'Компания': this.input_company,
        'Месенжер': this.selected_messenger,
        'Юзернейм в месенжере': this.messenger_username,
      }

      let SendingString = '';
      for(let key in SendingData) {
        SendingString += `<b>${key}</b>: ${SendingData[key]}%0A`;
      }
      SendingString += '------------------------------';
      $http.send_message_to_telegram(SendingString)
      // .then((res) => {
      //   console.log(res)
      // })
      // .catch(({ response }) => {
      //   console.log(response)
      // })
    }
  },
  computed: {
    budget() {
      return (
        this.range_value === 'Я ебаная нищенка и не знаю кукой у меня бюджет'
      )
    }
  }
}
</script>

<style lang="scss">
.brief {
  max-width: rem(980);
  padding-bottom: rem(100);
  &-sect {
    padding-top: 178px;
    min-width: 100vw;
    height: 100vh;
  }
  &__title {
    @extend %h1-title;
    color: $black;
    margin-bottom: rem(120);
  }
  &__subtitle {
    @extend %h3-title;
    color: $black;
    margin-bottom: 102px;
  }
  &__small-title {
    @extend %h2-title;
    color: $gray;
    margin-bottom: 35px;
  }
  &__product-types,
  &__budget,
  &__task {
    margin-bottom: rem(80);
  }
  &__types {
    @extend %df;
    @extend %fw;
    @extend %jcsb;
  }
  &__type-itm {
    margin-bottom: 20px;
  }
  &__type-btn {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 230px;
    height: 50px;
    border: 1px solid $gray_light;
    @extend %btn-medium;
    border-radius: 2px;
    color: $gray_light;
    cursor: pointer;
    transition: all .5s ease;
    &.selected,
    &:hover {
      color: $cta;
      border-color: $cta;
    }
  }

  &__range-wrap {
    @extend %df;
    @extend %jcsb;
    margin-top: rem(50);
  }
  &__range {
    width: 85%;
    padding-left: 9px;
    .vue-slider-disabled {
      .vue-slider-dot-tooltip-inner {
        display: none;
      }
    }
    .vue-slider-dot-tooltip-inner,
    .vue-slider-dot-handle-focus{
      box-shadow: none;
    }
    .vue-slider-process,
    .vue-slider:hover .vue-slider-process {
      background-color: $gray_light;
    }
    .vue-slider-dot-tooltip-text {
      @extend %simple-text;
      color: $gray_light;
    }
    .vue-slider-dot {
      width: 23px;
      height: 23px;
    }
    .vue-slider-dot-tooltip-inner {
      background-color: rgba($color: $gray_light, $alpha: 0.1);
      border-radius: 2px;
      padding: 6px 10px;
    }
    .vue-slider-dot-tooltip-inner-top::after {
      border-top-color: rgba($color: $gray_light, $alpha: 0.1);
    }
    // .slider {
    //   width: 100%;
    // }
    // .range-slider {
    //   padding: 0;
    // }
  }
  &__badget-know {
    @extend %btn-bold;
    color: $gray;
    cursor: pointer;
    &.red_mode {
      color: $cta;
    }
  }
  &__task {
    @extend %df;
    @extend %jcsb;
    /*max-width: 740px;*/
  }
  &__textarea {
    @extend %simple-text;
    padding: 19px 26px;
    width: 480px;
    height: 276px;
    border: 1px solid $gray_light;
    border-radius: 2px;
    color: $gray;
  }
  &__add-file {
    @extend %base-btn;
    color: $gray_light;
    border-color: $gray_light;
  }
  &__contact-wrap {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-gap: 20px;
    max-width: rem(480);
  }
  &__wrap-inputs {
    width: rem(230);
  }
  &__wrap-btn {
    @extend %df;
    @extend %aic;
    margin-top: rem(35);
  }
  &__submit {
    @extend %base-btn-red;
    width: rem(230);
    .icon {
      margin-left: rem(15);
      color: $cta;
    }
  }
  &__terms-text {
    @extend %simple-text;
    font-size: rem(11);
    margin-left: rem(20);
    color: $gray_light;
    max-width: rem(230);
    line-height: rem(17);
    opacity: 0.8;
  }
  &__file {
    @extend %df;
    @extend %aic;
    margin-bottom: rem(11);
  }
  &__file-remove {
    position: relative;
    width: rem(13);
    height: rem(13);
    span {
      @extend %db;
      content: '';
      position: absolute;
      top: rem(6);
      right: 0;
      width: rem(13);
      height: rem(1);
      background-color: $cta;
      border-radius: 2px;
      transform: rotate(-45deg);
      &:last-child {
        transform: rotate(45deg);
      }
    }
  }
  &__file-text {
    @extend %simple-text;
    color: $black;
    margin-left: rem(18);
  }
}
@include bp(1190px) {
  .brief {
    &__task {
      flex-direction: column;
    }
    &__attach-wrap {
      margin-top: 50px;
    }
    &__types {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
    &__type-itm {
      width: 100%;
      margin-bottom: 0;
    }
    &__type-btn {
      width: 100%;
    }
    &__range {
      width: 80%;
    }
  }
}
@include bp(766px) {
  .brief {
    width: 100%;
    padding-bottom: 30px;
    &__title {
      font-size: rem(30);
      line-height: rem(33);
    }
    &__types {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
    &__type-itm {
      width: 100%;
    }
    &__type-btn {
      width: 100%;
      font-size: rem(16);
      height: 35px;
    }
    &__textarea {
      width: 100%;
      padding: 18px;
      font-size: rem(14px);
      line-height: rem(21);
    }
    &__contact-wrap {
      grid-template-columns: 1fr;
    }
    &__wrap-inputs {
      width: 100%;
    }
    &__budget {
      position: relative;
    }
    &__badget-know {
      position: absolute;
      top: 7px;
      right: 0;
    }
    &__range {
      width: 100%;
    }
    &__wrap-btn {
      flex-direction: column;
      align-items: flex-start;
    }
    &__terms-text {
      margin-left: 0;
      margin-top: 15px;
      max-width: 100%;
    }
    &__submit {
      width: 100%;
    }
  }
}
</style>
