<template>
  <header class="header-sect">
    <div class="header">
      <div class="header__wrap header__wrap_left">
        <h1 class="header__title">We<span> show users</span> the <span>usefulness</span> of your business.</h1>
        <ul class="header__services">
          <li class="header__serv-item">
            <router-link :to="{ name: 'Portfolio', params: { type: 'Web-sites'  } }" class="header__serv-link">
              <span>Web sites.</span>
            </router-link>
          </li>
          <li class="header__serv-item">
            <router-link :to="{ name: 'Portfolio', params: { type: 'Mobile-Apps'  } }" class="header__serv-link">
              <span>Mobile Apps.</span>
            </router-link>
          </li>
          <li class="header__serv-item">
            <router-link :to="{ name: 'Portfolio', params: { type: 'Digital-Products'  } }" class="header__serv-link">
              <span>Digital Products.</span>
            </router-link>
          </li>
        </ul>
        <router-link :to="{ name: 'Portfolio', params: { type: 'all'  } }" class="header__link">
          <span>View portfolio</span>
          <BaseIcon name="arrow-right" width="12" height="24"></BaseIcon>
        </router-link>
      </div>
      <div class="video" ref="videoWrap" :class="{'video-play': isShowRealPlay}">
        <div class="video__wrapper" :class="{hide: isShowRealPlay}" @click="playVideo">
          <BaseIcon name="play" mod="white" width="52" height="54"></BaseIcon>
          <div class="video__text">Id. Showreal</div>
          <img src="img/preview.png" alt="">
        </div>
        <video-player  class="video-player-box"
                       ref="videoPlayer"
                       :options="playerOptions"
                       @pause="onPlayerPause"
                       @ready="playerReady"
        >
        </video-player>
<!--        <Media :kind="'video'" :isMuted="(false)" :src="['video/showreal.mov']" :poster="'img/preview.png'"-->
<!--               :autoplay="false" :controls="videoPlay" :loop="false" ref="video"></Media>-->
      </div>
    </div>
  </header>
</template>

<script>
  // import Media from '@dongido/vue-viaudio'
  import 'video.js/dist/video-js.css'

  import { videoPlayer } from 'vue-video-player'
  export default {
    name: 'Header',
    components: {
      videoPlayer
      // Media
    },
    data() {
      return {
        isShowRealPlay: false,
        playerOptions: {
          nativeControlsForTouch: true,
          preload: 'none',
          height: '528',
          autoplay: false,
          muted: false,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          // children: [
          //   'PlayToggle',
          //   'VolumePanel',
          //   'ProgressControl'
          // ],
          sources: [{
            type: "video/mp4",
            // mp4
            src: "video/showreal.mp4",
            // webm
            // src: "https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm"
          }],
          // poster: "https://surmon-china.github.io/vue-quill-editor/static/images/surmon-1.jpg",
        }
      }
    },
    computed: {
      player() {
        return this.$refs.videoPlayer.player;
      }
    },
    methods: {
      getPosition(elem) {
        let box = elem.getBoundingClientRect();
        return box.left + pageYOffset;
      },
      playVideo() {
        let realPosition = this.getPosition(this.$refs.videoWrap);
        let position = ( realPosition > 400 ? realPosition - 290 : realPosition - 40);
        this.$emit('videoOpen', position)
        this.isShowRealPlay = true
        this.player.play()
      },
      onPlayerPause() {
        this.isShowRealPlay = false
        this.player.pause()
        this.player.currentTime(0)
      },
      playerReady() {
        // console.log('player is ready')
      }
    },
  }
</script>

<style lang="scss">
.header {
    @extend %df;
    // width: 100%;
    &-sect {
      // height: 102vh;
      // min-width: 150vw;
      // width: 5000px;
      padding-left: 218px;

      .container {
      }
    }

    &__wrap {
      &_left {
        min-width: 530px;
        max-width: 530px;
        padding-top: 204px;
      }

      &_right {
      }
    }

    &__title {
      @extend %h1-title;
      color: $black;

      span {
        color: $cta;
      }
    }

    &__services {
      @extend %df;
      @extend %aic;
      margin-top: 61px;
      margin-bottom: 79px;
    }

    &__serv-item {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__serv-link {
      @extend %h3-title;
      color: $gray;

      &:hover {
        color: $cta;
      }
    }

    &__link {
      @extend %df;
      @extend %aic;
      @extend %jcsb;
      @extend %btn-medium;
      color: $black;
      width: 235px;
      height: 50px;
      border: 1px solid $black;
      border-radius: 2px;
      padding: 0 27px 0 47px;

      .icon {
        width: 24px;
        height: 27px;
      }

      &:hover {
        border-color: $cta;
        color: $cta;

        .icon {
          color: $cta;
        }
      }
    }
}

.video {
  position: relative;
  @extend %df;
  @extend %jcc;
  transition: width .5s ease, transform .2s ease;
  &.play {

  }
  .vjs-control-bar {
    background-color: transparent;
  }
  .vjs-playback-rate,
  .vjs-fullscreen-control {
    display: none;
  }
  /*.vjs-volume-panel {*/
  /*  order: 1;*/
  /*}*/
  .video-js .vjs-load-progress div {
    background: rgba($white, .2);
  }
  .video-js .vjs-play-progress:before {
    display: none;
  }
  .vjs-play-progress {
    border-radius: 0 20px 20px 0;
    background: rgba($white, .6);
  }
  .video-js .vjs-control:focus {
    text-shadow: none;
  }
  .video-player-box {
    @extend %evt-none;
    /*width: 925px;*/
    /*width: 100%;*/
    height: 528px;
    opacity: 0;
    transition: all .5s ease;
  }
  /*video {*/
  /*  */
  /*}*/

  margin-top: 100px;
  margin-left: 272px;
  width: 420px;
  overflow: hidden;
  cursor: pointer;
  /*transition: all 0.5s ease;*/

  &.video-play {
    width: 100%;
    transform: translateX(-250px);

    /*width: 925px;*/
    .video-player-box {
      opacity: 1;
      @extend %evt-all;
    }
    .video__wrapper {
      @extend %evt-none;
    }
  }

  &__wrapper {
    position: absolute;
    padding-top: 202px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %bg-reset;
    .icon {
      position: relative;
      z-index: 1;
    }
    /*<!--background-image: url($img_dir + '');-->*/
    transition: all 0.3s ease;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }
    /*pointer-events: none;*/

    &.hide {
      opacity: 0;
    }
  }

  &__about {
  }

  &__text {
    position: relative;
    z-index: 1;
    @extend %h3-title;
    color: $white;
    // text-align: center;
    margin-top: 177px;

  }
}

@include bp(1300px)  {
  .header {
    &-sect {
      padding-left: 138px;
    }
    &__wrap {
      &_left {
        padding-top: 160px;
      }
    }
  }
  .video {
    margin-left: 193px;
    &.video-play {
      transform: translateX(-130px);
    }
  }
}
@include bp(1190px) {
  .header {
    @extend %tablet-container;
    flex-direction: column;
    &-sect {
      padding: 0;
    }
  }
  .video {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    &__wrapper {
      padding-top: 162px;
    }
    &__text {
      margin-top: 117px;
    }
    .video-player-box {
      width: 100%;
      height: 400px;
    }
    .video-js {
      width: 100%;
      height: 100%;
    }
    &.video-play {
      width: 100%;
      transform: translateX(0);
    }
  }
}
@include bp(766px) {
  .header {
    @extend %container-block-mobile;
    &__title {
      font-size: rem(30);
      line-height: rem(33);
      max-width: 320px;
    }
    &__services {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &__serv {
      &-item {
        margin-right: 15px;
        margin-bottom: 20px;
      }
      &-link {
        font-size: rem(18);
        line-height: rem(20);
      }
    }
    &__wrap {
      &_left {
        max-width: 320px;
        min-width: 320px;
      }
    }
  }
  .video {
    &__wrapper {
      padding-top: 60px;
      .icon-play {
        width: 32px;
      }
    }
    &__text {
      font-size: rem(18);
      margin-top: 17px;
    }
    .video-player-box {
      height: 181px;
    }
  }
}
@include bp(360px) {
  .header {
    &__title, &__wrap_left {
      max-width: 100%;
      min-width: 100%;
    }
  }
}
</style>
