<template lang="pug">
  section.service-sect
    .service
      .service__wrap.service__wrap_left
        h2.service__title Websites, services, mobile, branding, promotion.
        p.service__subtitle Always comfortable and modern!
      .service__wrap.service__wrap_right
        ServiceCard(v-for="item in services" :key="item.id" :service_item="item")
</template>

<script>
import ServiceCard from '@/components/ServiceCard.vue'
export default {
  name: 'Service',
  components: {
    ServiceCard
  },
  data() {
    return {
      services: [
        {
          id: 234,
          routeName: 'Home',
          name: 'Projct Title',
          description: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          imgUrl: 'img/projects/0.jpg'
        },
        {
          id: 980,
          routeName: 'Home',
          name: 'Projct Title',
          description: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          imgUrl: 'img/projects/1.jpg'
        },
        {
          id: 547,
          routeName: 'Home',
          name: 'Projct Title',
          description: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          imgUrl: 'img/projects/2.jpg'
        },
        {
          id: 908,
          routeName: 'Home',
          name: 'Projct Title',
          description: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          imgUrl: 'img/projects/4.jpg'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.service {
  @extend %df;
  &-sect {
    // height: 102vh;
    padding-left: 260px;
    padding-right: 113px;
  }
  &__wrap {
    &_left {
      padding-top: 238px;
      min-width: 500px;
      margin-right: 77px;
    }
    &_right {
      @extend %df;
      padding-top: 112px;
    }
  }
  &__title {
    @extend %h1-title;
    color: $black;
  }
  &__subtitle {
    @extend %h2-title;
    color: $black;
    margin-top: 61px;
  }
}
@include bp(1300px) {
  .service {
    &-sect {

    }
    &__wrap {
      &_left {
        padding-top: 195px;
      }
      &_right {
        padding-top: 70px;
      }
    }
  }
}
@include bp(1190px) {
  .service {
    @extend %tablet-container;
    flex-direction: column;
    padding-bottom: 235px;
    &-sect {
      padding: 0;
    }
    &__wrap {
      &_right {
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &_left {
        margin-right: 87px;
      }
    }
  }
}
@include bp(766px) {
  .service {
    @extend %container-block-mobile;
    padding-bottom: 136px;
    &-sect {
    }
    &__title {
      max-width: 320px;
      font-size: rem(30);
      line-height: rem(33);
    }
    &__subtitle {
      font-size: rem(20);
      line-height: rem(22);
    }
    &__wrap {
      &_left {
        min-width: 320px;
      }
    }
  }
}
@include bp(360px) {
  .service {
    &__wrap {
      &_left {
        min-width: 100%;
      }
    }
  }
}
</style>
