<template>
  <router-link :to="{ name: 'project', params: {name: linkName} }" class="c-case">
    <div class="c-case__wrapper">
      <figure class="c-case__img">
        <img :src="image" :alt="title" />
      </figure>
      <template v-if="isMobile">
        <video
                muted
                class="c-case__video"
                ref="video"
                @mouseover="mouseOver"
                @mouseleave="mouseOut"
        >
          <source :src="videoUrl" type="video/mp4" />
        </video>
      </template>
    </div>
    <div class="c-case__content">
      <h3 class="c-case__title">
        {{ title }}
      </h3>
      <p class="c-case__desc">
        {{ shortDescription }}
      </p>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'Case',
  props: {
    id: {
      type: [String, Number]
    },
    image: {
      type: String
    },
    title: {
      type: String
    },
    shortDescription: {
      type: String
    },
    videoUrl: {
      type: String
    }
  },
  data() {
    return {
      isMounted: false
    }
  },
  methods: {
    mouseOver() {
      if(this.isMobile) {
          if (this.$refs.video.currentTime > 0) {
            this.$refs.video.currentTime = 0
          }
          this.$refs.video.play()
        } else {
          return
        }
    },
    mouseOut() {
      if(this.isMobile) {
          this.$refs.video.pause()
        } else {
          return
        }
    }
  },
  updated() {
    this.isMounted = true
  },
  computed: {
    linkName() {
        return this.title.split(' ').join('-').toLocaleLowerCase();
    },
    isMobile() {
      return this.$store.getters.window_width
    }
  },
}
</script>

<style lang="scss">
.main-card-enter-active,
.main-card-leave-active {
  transition: all 0.3s;
}
.main-card-enter, .main-card-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(rem(40));
}
.c-case {
  @extend %db;
  width: rem(317);
  margin-bottom: rem(52);
  &:hover {
    img {
      opacity: 0;
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: rem(403);
    border-radius: 2px;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
      @extend %evt-none;
    }
  }
  &__video {
    width: 100%;
    height: 100%;
  }
  &__content {
    margin-top: rem(16);
  }
  &__title {
    @extend %h2-title;
    color: $black;
    padding-right: rem(15);
    margin-bottom: rem(7);
  }
  &__desc {
    @extend %simple-text;
    font-size: rem(14);
    color: $gray;
    padding-right: rem(15);
  }
}
@include bp(1190px) {
  .c-case {
    width: 337px;
    &:hover {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 25px;
      img {
        opacity: 1;
      }
    }
  }
}
@include bp(766px) {
  .c-case {
    width: 100%;
  }
}
</style>
