<template>
  <div class="c-case-short-item">
    <h3 class="c-case-short-item__title">
      {{ title }}
    </h3>
    <div class="c-case-short-item__wrapper">
      <a :href="link" class="c-case-short-item__link">
        <BaseIcon name="link" />
        <span>
          Link to the site
        </span>
      </a>
      <div class="c-case-short-item__type">
        <span>
          {{ caseType }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import BaseIcon from '../Base/BaseIcon'
export default {
  name: 'CaseShortItem',
  components: { BaseIcon },
  props: {
    title: {
      type: String
    },
    link: {
      type: String
    },
    caseType: {
      type: String
    }
  }
}
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateX(rem(40));
}
.c-case-short-item {
  @extend %df;
  @extend %aic;
  @extend %jcsb;
  width: rem(890);
  border-bottom: 2px solid $gray_light;
  padding-bottom: rem(8);
  margin-bottom: rem(38);
  &__title {
    @extend %h3-title-medium;
    color: $gray;
  }
  &__wrapper {
    @extend %df;
    @extend %aic;
  }
  &__link {
    @extend %btn-medium;
    color: $gray;
    @extend %df;
    @extend %aic;
    margin-right: rem(167);
    span {
      @extend %dib;
      margin-left: rem(8);
    }
  }
  &__type {
    @extend %df;
    @extend %aic;
    justify-content: flex-end;
    @extend %h3-title;
    color: $gray_light;
    width: rem(120);
  }
}
@include bp(1190px) {
  .c-case-short-item {
    width: 100%;
    &__title {
      font-size: rem(18);
    }
    &__link {
      font-size: rem(18);
      margin-right: 117px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    &__type {
      font-size: rem(18);
    }
  }
}
@include bp(766px) {
  .c-case-short-item {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
    &__link {
      position: absolute;
      top: 2px;
      right: 0;
      margin-right: 0;
    }
    &__type {
      width: auto;
      margin-top: 15px;
    }
  }
}
</style>
