body {
    font-size: 16px;
    overflow: hidden;
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}
.c-tooltip {
    position: fixed;
    width: max-content;
    background-color: #F0F3F7;
    padding: rem(5) rem(10);
    z-index: 50;
    @extend %simple-text;
    color: $gray_light;
    border-radius: 2px;

    &::before {
        content: '';
        position: absolute;
        background: #F0F3F7;
        left: 50%;
        bottom: -4px;
        width: 7px;
        height: 7px;
        transform: rotate(45deg) translateX(-50%);
        -webkit-transform: rotate(45deg);
        border-color: transparent;
        border-radius: 31%;
    }
}
@include bp(1190px) {
    body {
        overflow: visible;
    }
}