// ================ SFProDisplay-Bold, ================
@include font_face(Gilroy-Bold, Gilroy-Bold);

%bold {
    font-family: 'Gilroy-Bold', sans-serif;
}
// ################ SFProDisplay-Bold, ################

// ================ SFProDisplay-Medium ==============
@include font_face(Gilroy-Medium, Gilroy-Medium);

%medium {
    font-family: 'Gilroy-Medium', sans-serif;
}
// ################### MuseoSansCyrl-700 ###################

// ================ SFProDisplay-Regular ==================
@include font_face(Gilroy-Regular, Gilroy-Regular);

%regular {
    font-family: 'Gilroy-Regular', sans-serif;
}
// ################### SFProDisplay-Regular ################

// ====================== Font styles =======================
%h1-title {
    @extend %bold;
    font-size: rem(50);
    line-height: rem(55);
    color: $black;
}
%h2-title {
    @extend %medium;
    font-size: rem(30);
    line-height: rem(30);
}
%h3-title {
    @extend %regular;
    font-size: rem(25);
    line-height: rem(27);
}
%h3-title-medium {
    @extend %medium;
    font-size: rem(25);
    line-height: rem(27);
}
%btn-medium {
    @extend %medium;
    font-size: rem(20);
    line-height: rem(22);
}
%btn-bold {
    @extend %bold;
    font-size: rem(20);
    line-height: rem(22);
}
%simple-text {
    @extend %regular;
    font-size: rem(16);
    line-height: rem(29);
    letter-spacing: 0.02em;
}
// ####################### Font styles #######################

%ttu {
    text-transform: uppercase;
}