<template>
  <div class="v-about">
    <img class="v-about__img" src="img/about-bg.jpg" alt=""/>
    <div class="v-about__container">
      <div class="v-about__wrap v-about__wrap_first">
        <h1 class="v-about__title">
          Briefly about id.
        </h1>
        <p class="v-about__text">
          If you think we are just another small company among thousands of others, you would be mistaken.
          I understand that from the point of view of psychology it is very risky to present yourself to the world with
          a statement that the world is not right. Maybe it's about perfectionism or honed critical thinking, or perhaps
          we just want to change the world. The second sounds a bit childish, we understand.<br>

          What do you think unites Steve jobs, whose fame does not give anyone rest, and Elon Musk? We think they are
          United by courage. These
          guys were not afraid to declare themselves and their products, while the world was not yet ready for their
          product.
        </p>
        <div class="v-about__text">
          Our goal is to stay ahead of the times and anticipate expectations, to make the world more
          decentralized and independent, to develop innovations, and to guide society towards creation and
          self-development. The advantage of children's way of thinking in a very broad mind, which is not limited by
          the rules of the game of modern society. We are already creating our own products together with our partners
          from GroupTechno and helping our customers to bring their interesting ideas to life. If you agree with us or
          just want to express your respect, we are always happy to make new contacts. If you want to make a cool
          product that inspires and charges users with a positive experience, we will be happy to help you create it!
        </div>
      </div>
      <div class="v-about__wrap v-about__wrap_second">
        <h2 class="v-about__title">
          Our expertise
        </h2>
        <div class="v-about__wrapper">
          <div class="v-about__serv-item">
            <h3 class="v-about__subtitle">
              Websites.
            </h3>
            <p class="v-about__text">
              There are no unimportant details in our work. Any website that goes into development goes through the
              mandatory business processes and a brief website development cycle: problem research, user analysis,
              requirements collection, hypothesis testing, creating user stories and backlogs, concept creation,
              prototyping, UX architecture development, UI design development, layout and coding, programming, quality
              control and testing, content filling, additional services, release.
            </p>
          </div>
          <div class="v-about__serv-item">
            <h3 class="v-about__subtitle">
              Digital Products.
            </h3>
            <p class="v-about__text">
              Digital products mean creating a huge amount of different digital content. Our employees have extensive
              experience and expertise in creating products such as illustrations, logos, infographics, image
              processing, 3D modeling, motion design, video editing, creating commercials, branding, rebranding, product
              designs, product cases, brand books, copywriting, and rewriting.
            </p>
          </div>
          <div class="v-about__serv-item">
            <h3 class="v-about__subtitle">
              Additional services.
            </h3>
            <p class="v-about__text">
              When new employees join the company, they show off their achievements and skills. Sometimes there are so
              many employees with the same additional skills that you can't ignore them. Thanks to the versatile talents
              of our team, an additional Department of services has appeared, where we provide services for basic SEO
              settings for websites, ad settings in Adwords and Social Networks, SMM and PR, advertising (OnClick, Push
              Notifications, NativeAds). We can provide these services to you as part of creating and developing a
              product or for your existing product.
            </p>
          </div>
          <div class="v-about__serv-item">
            <h3 class="v-about__subtitle">
              Mobile Applications.
            </h3>
            <p class="v-about__text">
              Creating mobile applications is not very different from the process of creating a website, but has more
              tasks that are added to the list of already described business processes for system architects and
              developers when the functionality requires it. Development time is shifted more towards programming and
              quality control. We are equally good at implementing projects for Android, IOS, and cross-platform
              applications if necessary.
            </p>
          </div>
        </div>
      </div>
      <div class="v-about__wrap v-about__wrap_third">
        <h2 class="v-about__title">
          How we operate.
        </h2>
        <p class="v-about__text">
          If we compare our work with something visual, then perhaps most of all it resembles an orchestra during the
          performance of something classic, similar to the seasons of Vivaldi. We also work in sync, everyone knows what
          to do and when, and their music passages sounds perfect. We spent years honing teamwork and looking for the
          necessary methodologies. Now we use dozens of software tools to implement even the most complex tasks, and our
          management skillfully mixes methodologies depending on the projects. Meetup and Retrospective sound in our
          office at least as often as Figma, Docker or Jira. Although this block is about work, we do not forget to have
          a rest, because only happy and satisfied people can play a great composition. P.S. Some projects want to be
          performed as AC/DC Thunderstruck ;)
        </p>
      </div>
      <div class="v-about__wrap v-about__wrap_four">
        <h2 class="v-about__title">
          Who we have worked with
        </h2>
        <ul class="v-about__work">
          <li v-for="logo in workedWidth" :key="logo">
            <figure class="v-about__work-img">
              <img :src="logo" alt=""/>
            </figure>
          </li>
        </ul>
      </div>
      <div class="v-about__wrap v-about__wrap_five">
        <h2 class="v-about__title v-about__title-big">
          You can contact us <br> about development.
        </h2>
        <router-link :to="{ name: 'contact' }" class="v-about__link">
          <span>Contact us</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'About',
    data() {
      return {
        workedWidth: [
          'img/worked-with/ecplaza.svg',
          'img/worked-with/hitechnic.svg',
          'img/worked-with/synterra.svg',
          'img/worked-with/alfaleads.svg',
          'img/worked-with/mvideo.svg',
          'img/worked-with/mulberry.svg',
          'img/worked-with/poa.svg',
          'img/worked-with/ledger.svg',
          'img/worked-with/foxline.svg'
        ]
      }
    },
    created() {
      this.$store.dispatch('change_page_name', 'About')
      this.$store.dispatch('set_full_color_navigation', false)
    }
  }
</script>

<style lang="scss">
  body {
    overflow: visible;
  }

  .v-about {
    &__img {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
    }

    &__container {
      max-width: rem(1000);
      margin: 0 auto;
    }

    &__wrap {
      /*max-width: rem(480);*/

      &_first {
        padding-top: rem(187);
      }

      &_second {
        padding-top: rem(200);
      }

      &_third {
        padding-top: rem(200);
      }

      &_four {
        padding-top: rem(200);
      }

      &_five {
        padding-top: rem(200);
      }
    }
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
    }
    &__title {
      @extend %h1-title;
      color: $white;
      margin-bottom: rem(48);
    }

    &__subtitle {
      @extend %h3-title-medium;
      color: $white;
      margin-bottom: rem(19);
    }

    &__text {
      @extend %simple-text;
      color: $white;
      /*max-width: rem(480);*/
      margin-bottom: rem(41);
    }

    &__work {
      @extend %df;
      @extend %fw;

      &-img {
        margin-right: rem(22);
        margin-bottom: rem(35);
      }
    }

    &__link {
      @extend %btn-medium;
      @extend %df;
      @extend %aic;
      @extend %jcc;
      width: rem(173);
      height: rem(50);
      border: 1px solid $white;
      color: $white;
      margin-bottom: rem(185);
    }
  }

  @include bp(1190px) {
    .v-about {
      /*&-*/
      &__container {
        max-width: 700px;
        margin: 0 auto;
      }
    }
  }
  @include bp(766px) {
    .v-about {
      background-color: $black;
      padding-bottom: 50px;
      /*&-*/
      &__img {
        display: none;
        /*width: auto;*/
      }
      &__container {
        @extend %container-block-mobile;
      }
      &__title {
        font-size: rem(30);
        line-height: rem(33);
      }
      &__text {
        font-size: rem(14);
        line-height: rem(21);
      }
      &__wrapper {
        grid-template-columns: 1fr;
      }
      &__work {
        &-img {
          margin-right: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
</style>
