<template>
  <div class="v-contact-page">
    <div class="v-contact">
      <div class="v-contact__wrap v-contact__wrap_left">
        <h1 class="v-contact__title">
          Hello id.
        </h1>
        <div class="v-contact__contact-wrap">
          <BaseInput class="v-contact__input" placeholder="Your name?" v-model="first_name"/>
          <BaseInput class="v-contact__input" placeholder="Company" v-model="first_name"/>
          <BaseSelect class="contact-select"
                      :options="messengers"
                      placeholder="Messenger"
                      v-model="selected_messenger"/>
          <BaseInput class="v-contact__input" placeholder="Login or phone" v-model="messenger_username"/>
          <BaseInput class="v-contact__input" placeholder="Email" v-model="input_email"/>
          <BaseInput class="v-contact__input" placeholder="Phone" v-model="input_phone"/>
        </div>
        <div class="v-contact__wrap-btn">
          <button class="v-contact__submit"><span>Get in touch</span>
            <BaseIcon name="arrow-right" width="12" height="24" mod="cta"></BaseIcon>
          </button>
          <p class="v-contact__terms-text">
            By clicking on the "Get in touch" button, you consent to the processing of your
            personal data</p>
        </div>
      </div>
      <div class="v-contact__wrap v-contact__wrap_right">
        <div class="v-contact__info-wrap">
          <h2 class="v-contact__info-title">
            Contact info
          </h2>
          <ul class="v-contact__info-quick">
            <li class="v-contact__info-itm">
              <div class="v-contact__info-itm-title">
                Quick contact with us
              </div>
              <a href="mailto:hello@interactivedesign.io" class="v-contact__info-itm-link">
                <span>
                  hello@interactivedesign.io
                </span>
              </a>
            </li>
            <li class="v-contact__info-itm">
              <div class="v-contact__info-itm-title">
                Or write to us on Facebook
              </div>
              <a href="#" class="v-contact__info-itm-link">
                <span>
                  @Iddesignagency
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: "Contact",
    data() {
      return {
        first_name: '',
        input_company: '',
        input_email: null,
        messenger_username: '',
        input_phone: '',
        selected_messenger: null,
        messengers: [
          {
            val: 'WhatsApp',
            text: 'WhatsApp'
          },
          {
            val: 'Skype',
            text: 'Skype'
          },
          {
            val: 'Telegram',
            text: 'Telegram'
          },
          {
            val: 'Facebook',
            text: 'Facebook'
          }
        ],
      }
    },
    created() {
      this.$store.dispatch('change_page_name','Contact')
      this.$store.dispatch('set_full_color_navigation',false)
    }
  }
</script>

<style lang="scss" scoped>
.v-contact {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  &__wrap {
    &_left {
      padding-top: 148px;
    }
    &_right {
      padding-top: 167px;
      padding-left: 53px;
      position: fixed;
      width: 489px;
      top: 0;
      right: 0;
      height: 100vh;
      background-color: $black;
    }
  }
  &__title {
    @extend %h1-title;
    color: $black;
    margin-bottom: 40px;
  }
  &__info {
    &-title {
      @extend %h2-title;
      color: $white;
      margin-bottom: 34px;
    }
    &-itm {
      margin-bottom: 48px;
      &:last-child {
        margin-bottom: 0;
      }
      &-title {
        @extend %simple-text;
        color: $gray_light;
        margin-bottom: 6px;
      }
      &-link {
        @extend %btn-medium;
        color: $cta;
        &:hover {
          color: $white;
        }
      }
    }
  }
  .contact-select {
    /*margin-bottom: 20px;*/
  }
  &__contact-wrap {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-gap: 20px;
    max-width: rem(480);
  }
  &__wrap-inputs {
    width: rem(230);
  }
  &__wrap-btn {
    @extend %df;
    @extend %aic;
    margin-top: rem(35);
  }
  &__submit {
    @extend %base-btn-red;
    width: rem(230);
    .icon {
      margin-left: rem(15);
      color: $cta;
    }
  }
  &__terms-text {
    @extend %simple-text;
    font-size: rem(11);
    margin-left: rem(20);
    color: $gray_light;
    max-width: rem(230);
    line-height: rem(17);
    opacity: 0.8;
  }
}
@include bp(1190px) {
  .v-contact {
    max-width: 700px;
    margin: 0 auto;
    &__wrap {
      &_right {
        position: absolute;
        padding-top: 107px;
        padding-left: 0;
        width: 100%;
        top: auto;
        bottom: 0;
        left: 0;
        right: auto;
        height: 338px;
      }
    }
    &__info {
      &-wrap {
        max-width: 700px;
        margin: 0 auto;
      }
      &-itm {
        margin-right: 62px;
      }
      &-quick {
        display: flex;
      }
    }
  }
}
@include bp(766px) {
  .v-contact {
    padding-bottom: 500px;
    @extend %container-block-mobile;
    &__wrap {
      &_right {
        height: 298px;
        padding-top: 52px;
      }
    }
    &__contact-wrap {
      grid-template-columns: 1fr;
    }
    &__wrap-inputs {
      width: 100%;
    }
    &__wrap-btn {
      flex-direction: column;
      align-items: flex-start;
    }
    &__terms-text {
      margin-left: 0;
      margin-top: 15px;
      max-width: 100%;
    }
    &__submit {
      width: 100%;
    }
    &__info {
      &-title {
        font-size: rem(22);
        line-height: rem(22);
      }
      &-wrap {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
      &-quick {
        flex-direction: column;
      }
    }
  }
}
</style>