<template lang="pug">
.main(@wheel="scrollRight($event)" ref="mainWrap")
  Header(@videoOpen="openVideo")
  Service
  About(ref="aboutSection")
  Brief(ref="brief_section")
</template>

<script>
import Header from '@/components/home-page/Header.vue'
import Service from '../components/home-page/Service'
import About from '../components/home-page/About'
import Brief from '../components/home-page/Brief'
import { mapGetters } from 'vuex'
import $http from '@/service'

export default {
  components: {
    Brief,
    About,
    Service,
    Header
  },
  methods: {
    scrollRight(event) {
      if(this.isMobile) {
        this.$emit('changeNav', {
          position: this.getPosition(this.$refs.aboutSection.$refs.aboutSect),
          end: this.getEndOfSection(this.$refs.aboutSection.$refs.aboutSect)
        })
        const endLeftScroll =
          this.$refs.mainWrap.scrollWidth -
          this.$refs.brief_section.$refs.section.scrollWidth
        if (event.deltaMode == event.DOM_DELTA_PIXEL) {
          var modifier = 1
          // иные режимы возможны в Firefox
        } else if (event.deltaMode == event.DOM_DELTA_LINE) {
          var modifier = parseInt(
            getComputedStyle(this.$refs.mainWrap).lineHeight
          )
        } else if (event.deltaMode == event.DOM_DELTA_PAGE) {
          var modifier = this.$refs.mainWrap.clientHeight
        }
        if (event.deltaY != 0) {
          // замена вертикальной прокрутки горизонтальной
          //   console.log(this.$refs.mainWrap.scrollTop)
          //   console.log(this.$refs.mainWrap.scrollLeft, 'scroll left')
          //   console.log(endLeftScroll, 'if')
          if (
            this.$refs.mainWrap.scrollLeft < endLeftScroll ||
            (this.wheel(event) && this.$refs.mainWrap.scrollTop === 0)
          ) {
            // console.log('passed if')
            this.$store.dispatch('change_page_name','Agency')
            this.$store.dispatch('set_full_color_navigation',false)
            this.$refs.mainWrap.style.overflow = 'hidden'
            this.$refs.mainWrap.scrollLeft += modifier * event.deltaY
            // console.log(this.$refs.mainWrap.scrollLeft)
          } else {
            this.$store.dispatch('change_page_name', 'Fill out a brief')
            this.$store.dispatch('set_full_color_navigation', true)
            this.$refs.mainWrap.style.overflow = 'auto'
            return
          }

          event.preventDefault()
        }
      }
      else {
        this.$emit('changeNav', {
          position: this.getPosition(this.$refs.aboutSection.$refs.aboutSect),
          end: this.getEndOfSection(this.$refs.aboutSection.$refs.aboutSect)
        })
        const briefSection = this.getPosition(this.$refs.brief_section.$refs.section),
              scrollY = window.scrollY;
        // console.log(about,briefSection)
        if(scrollY > briefSection) {
          this.$store.dispatch('change_page_name', 'Fill out a brief')
          this.$store.dispatch('set_full_color_navigation', true)
        } else {
          this.$store.dispatch('change_page_name', 'Agency')
          this.$store.dispatch('set_full_color_navigation', false)
        }
        return
        // console.log(window.scrollY)
        // if (
        //   this.$refs.mainWrap.scrollLeft < endLeftScroll ||
        //   (this.wheel(event) && this.$refs.mainWrap.scrollTop === 0)
        // ) {
        //   // console.log('passed if')
        //   this.$store.dispatch('change_page_name','Agency')
        //   this.$store.dispatch('set_full_color_navigation',false)
        //   this.$refs.mainWrap.style.overflow = 'hidden'
        //   this.$refs.mainWrap.scrollLeft += modifier * event.deltaY
        //   // console.log(this.$refs.mainWrap.scrollLeft)
        // } else {
        //   this.$store.dispatch('change_page_name', 'Fill out a brief')
        //   this.$store.dispatch('set_full_color_navigation', true)
        //   this.$refs.mainWrap.style.overflow = 'auto'
        //   return
        // }
      }
    },
    wheel(event) {
      var delta = 0
      if (!event) event = window.event // Событие IE.
      // Установим кроссбраузерную delta
      // if (event.wheelDelta) {
      //   // IE, Opera, safari, chrome - кратность дельта равна 120
      //   delta = event.wheelDelta / 120
      // } else if (event.detail) {
      //   // Mozilla, кратность дельта равна 3
      //   delta = -event.detail / 3
      // }
      delta = event.wheelDelta / 120
      if (delta) {
        // Отменим текущее событие - событие поумолчанию (скролинг окна).
        // if (event.preventDefault) {
        //   event.preventDefault()
        // }
        // event.returnValue = false // для IE

        // если дельта больше 0, то колесо крутят вверх, иначе вниз
        //   console.log(delta > 0 ? 'up' : 'bot')
        var dir = delta > 0 ? true : false
        return dir
      }
    },
    getPosition(elem) {
      let box = elem.getBoundingClientRect();
      return this.isMobile ? box.left + pageYOffset : box.top + pageYOffset;
    },
    getEndOfSection(elem) {
        let box = elem.getBoundingClientRect();
        return this.isMobile ? box.right + pageYOffset : box.bottom + pageYOffset ;
      ;
    },
    openVideo(position) {
      let num = 5,
          realPosition = position + this.$refs.mainWrap.scrollLeft;
      const interval = setInterval(() => {
        let leftover = realPosition - this.$refs.mainWrap.scrollLeft;

        if(this.$refs.mainWrap.scrollLeft === realPosition) {
          clearInterval(interval);
          return
        }
        if(this.$refs.mainWrap.scrollLeft > realPosition && num > leftover) {
          this.$refs.mainWrap.scrollLeft = realPosition
          clearInterval(interval);
        }
        if(realPosition > (this.$refs.mainWrap.scrollLeft - num)) {
          this.$refs.mainWrap.scrollLeft += num
        }
      }, 5)
    },
  },
  computed: {
    ...mapGetters(['window_width']),
    budget() {
      return this.range_value === 0
    },
    isMobile() {
      return this.window_width
    },
  },
  created() {
    // chat id  => -426794697
    // $http.sendMessage('949493360:AAFxCnB4Cky_-LEkGMu1gbzEl2zc8zOcL34', '-426794697')
    //   .then((res) => {
    //     console.log(res)
    //   })
    //   .catch(({ response }) => {
    //     console.log(response)
    //   })
      // window.addEventListener('scroll', this.handler)
      this.$store.dispatch('change_page_name','Agency')
      this.$store.dispatch('set_full_color_navigation',false)
      this.$emit('changeNav',{position: 9999, end: 9999})
  },
  destroyed() {
    // window.removeEventListener('scroll', () => { })
  }
}
</script>
<style lang="scss">
.container-sect {
  width: rem(1007);
  margin: 0 auto;
}
.main {
  @extend %df;
  margin: 0;
  overflow: hidden;
  &::-webkit-scrollbar-button {
    // background-image:url('');
    background-repeat: no-repeat;
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }
  &::-webkit-resizer {
    // background-image:url('');
    background-repeat: no-repeat;
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar {
    width: 0;
  }
}
@include bp(1190px) {
  .main {
    flex-direction: column;
    width: 100%;
    overflow: visible;
    /*overflow: hidden;*/
  }
  .container-sect {
    @extend %tablet-container;
  }
}
@include bp(766px) {
  .container-sect {
    @extend %container-block-mobile;
  }
}
</style>
