<template>
  <div class="v-404">
    <div class="v-404__wrap">
      <h1 class="v-404__title">
        404
      </h1>
      <p class="v-404__text">
        No such page was found. Go to the home page.
      </p>
      <router-link :to="{ name: 'Home' }" class="v-404__link">
        <span>Go home</span>
      </router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: "NotFound404"
  }
</script>

<style lang="scss">
.v-404 {
  @extend %df;
  @extend %fdc;
  @extend %aic;
  @extend %jcc;
  height: 100vh;
  &__title {
    @extend %h1-title;
    color: $gray_light;
    text-align: center;
  }
  &__text {
    @extend %simple-text;
    color: $black;
    text-align: center;
    max-width: 218px;
    margin-top: 10px;
    margin-bottom: 38px;
  }
  &__link {
    @extend %base-btn;
    width: rem(147);
    margin: 0 auto;
  }
}
</style>