<template>
  <div class="v-portfolio">
    <div class="v-portfolio__wrap v-portfolio__wrap_top">
      <ul class="v-portfolio__types">
        <li v-for="type in types" :key="type" class="v-portfolio__type">
          <button
            class="v-portfolio__type-btn"
            :class="{ active: selectedType === type }"
            @click="selectProductType(type)"
          >
            <span> {{ type }}. </span>
          </button>
        </li>
      </ul>
      <button
        class="v-portfolio__all-cases"
        @click="showAll"
        :class="{ active: showAllCases }"
      >
        <span>
          All project
        </span>
      </button>
    </div>
    <template v-if="!showAllCases">
      <transition-group
        appear
        name="main-card"
        class="v-portfolio__wrap v-portfolio__wrap_cases"
        tag="div"
      >
        <Case
          v-for="itm of filterList"
          :key="itm.id"
          :id="itm.id"
          :image="itm.image"
          :title="itm.title"
          :shortDescription="itm.shortDescription"
          :videoUrl="itm.videoUrl"
        />
      </transition-group>
    </template>
    <template v-else>
      <div class="v-portfolio__wrap v-portfolio__wrap_all-cases">
        <div
          v-for="item of filterAllCases"
          :key="item.year"
          class="v-portfolio__year"
          v-show="item.cases.length > 0"
        >
          <div class="v-portfolio__year-number">
            {{ item.year }}
          </div>
          <transition-group
            :appear="true"
            name="fade"
            class="v-portfolio__items"
            tag="ul"
          >
            <CaseShortItem
              v-for="caseItem in item.cases"
              :key="caseItem.id"
              :title="caseItem.title"
              :link="caseItem.link"
              :caseType="caseItem.type"
            />
          </transition-group>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import Case from '../components/portfolio-page/Case'
import CaseShortItem from '../components/portfolio-page/CaseShortItem'
export default {
  name: 'Portfolio',
  components: {
    CaseShortItem,
    Case
  },
  props: {
    type: {
      type: String,
    },
  },
  data() {
    const selectType = this.type === 'all' ? '' : this.type.split('-').join(' ');
    return {
      showAllCases: false,
      types: ['Web sites', 'Mobile Apps', 'Digital Products'],
      selectedType: selectType,
      cases: [
        {
          id: 234,
          type: 'Web sites.',
          title: 'Case name #1',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/0.jpg',
          link: 'https://google.com'
        },
        {
          id: 3,
          type: 'Mobile Apps.',
          title: 'Projct Title 2',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/1.jpg',
          link: 'https://google.com'
        },
        {
          id: 43,
          type: 'Digital Products.',
          title: 'Projct Title 3',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/2.jpg',
          link: 'https://google.com'
        },
        {
          id: 655,
          type: 'Web sites.',
          title: 'Projct Title 4',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/3.jpg',
          link: 'https://google.com'
        },
        {
          id: 56,
          type: 'Mobile Apps.',
          title: 'Projct Title 5',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/4.jpg',
          link: 'https://google.com'
        },
        {
          id: 86,
          type: 'Digital Products.',
          title: 'Projct Title 6',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/5.jpg',
          link: 'https://google.com'
        },
        {
          id: 5,
          type: 'Web sites.',
          title: 'Projct Title 7',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/6.jpg',
          link: 'https://google.com'
        },
        {
          id: 12,
          type: 'Mobile Apps.',
          title: 'Projct Title 8',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/7.jpg',
          link: 'https://google.com'
        },
        {
          id: 2,
          type: 'Digital Products.',
          title: 'Projct Title 9',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/8.jpg',
          link: 'https://google.com'
        },
        {
          id: 45,
          type: 'Web sites.',
          title: 'Projct Title 10',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/0.jpg',
          link: 'https://google.com'
        },
        {
          id: 9,
          type: 'Mobile Apps.',
          title: 'Projct Title 11',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/1.jpg',
          link: 'https://google.com'
        },
        {
          id: 99,
          type: 'Digital Products.',
          title: 'Projct Title 12',
          shortDescription: 'Project Description Project Description Project',
          videoUrl: 'video/service-preview.mp4',
          image: 'img/projects/2.jpg',
          link: 'https://google.com'
        }
      ],
      allCases: [
        {
          year: 2020,
          cases: [
            {
              id: 234,
              type: 'Web sites',
              title: 'Case name #1',
              link: 'https://google.com'
            },
            {
              id: 342,
              type: 'Web sites',
              title: 'Projct hover Title 2',
              link: 'https://google.com'
            },
            {
              id: 636,
              type: 'Mobile Apps',
              title: 'Projct hover Title 3',
              link: 'https://google.com'
            }
          ]
        },
        {
          year: 2019,
          cases: [
            {
              id: 453,
              type: 'Web sites',
              title: 'Projct hover Title 1',
              link: 'https://google.com'
            },
            {
              id: 534,
              type: 'Digital Products',
              title: 'Projct hover Title 2',
              link: 'https://google.com'
            },
            {
              id: 98,
              type: 'Mobile Apps',
              title: 'Projct hover Title 3',
              link: 'https://google.com'
            }
          ]
        }
      ]
    }
  },
  computed: {
    filterList() {
      return this.cases.filter(el => {
        return el.type.toLowerCase().includes(this.selectedType.toLowerCase())
      })
    },
    filterAllCases() {
      return this.allCases.map(el => {
        return {
          year: el.year,
          cases: [
            ...el.cases.filter(proj =>
              proj.type.toLowerCase().includes(this.selectedType.toLowerCase())
            )
          ]
        }
      })
    }
  },
  methods: {
    selectProductType(type) {
      if (this.selectedType === type) {
        this.selectedType = ''
      } else {
        this.selectedType = type
      }
    },
    showAll() {
      this.showAllCases = !this.showAllCases
    },
  },
  created() {
      this.$store.dispatch('change_page_name','Portfolio')
      this.$store.dispatch('set_full_color_navigation',true)
  }
}
</script>

<style lang="scss">
body {
  overflow: visible;
}
.v-portfolio {
  max-width: rem(1000);
  margin: 0 auto;
  &__wrap {
    &_top {
      @extend %df;
      @extend %aic;
      @extend %jcsb;
      padding-top: rem(139);
      margin-bottom: rem(52);
      /*position: relative;*/
      /*width: 100%;*/
      /*height: rem(403);*/
    }
    &_cases {
      @extend %df;
      @extend %fw;
      @extend %jcsb;
    }
    &_all-cases {
      margin-top: rem(79);
    }
  }
  &__types {
    @extend %df;
    @extend %aic;
  }
  &__type {
    margin-right: rem(25);
    &:last-child {
      margin-right: 0;
    }
  }
  &__type-btn {
    @extend %h3-title;
    color: $gray;
    &:hover {
      color: $cta;
    }
    &.active {
      color: $cta;
    }
  }
  &__all-cases {
    position: relative;
    @extend %btn-medium;
    color: $gray;
    &:hover {
      color: $cta;
      &:after {
        background-color: $cta;
      }
    }
    &.active {
      &:after {
        opacity: 1;
      }
    }
    &:after {
      position: absolute;
      content: '';
      @extend %db;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: $gray;
      opacity: 0;
      transition: all 0.5s ease;
    }
  }
  &__year {
    @extend %df;
    @extend %jcsb;
    margin-bottom: rem(55);
    &-number {
      @extend %simple-text;
      color: $gray_light;
      padding-top: rem(5);
    }
  }
}
@include bp(1190px) {
  .v-portfolio {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 150px;
    &__year {
      flex-direction: column;
      &-number {
        margin-bottom: 20px;
      }
    }
  }
}
@include bp(766px) {
  .v-portfolio {
    @extend %container-block-mobile;
    overflow: hidden;
    &__types {
      align-items: flex-start;
      flex-direction: column;
    }
    &__type {
      margin-right: 0;
    }
    &__type-btn {
      font-size: rem(18);
      text-align: left;
    }
    &__all-cases {
      font-size: rem(18);
      /*display: none;*/
    }
    &__wrap {
      &_top {
        align-items: flex-start;
      }
    }
  }
}
</style>
