<template>
  <div class="v-project">
    <section
      class="v-project-sect"
      :class="`v-project-sect__section-${block.type}`"
      v-for="block in content"
      :key="block.type"
    >
      <template v-if="block.type === 'header-vertically'">
        <div class="v-project-vertically">
          <figure
            class="v-project-vertically__wrap v-project-vertically__wrap_left"
          >
            <img :src="block.content.image" :alt="block.content.title" />
          </figure>
          <div
            class="v-project-vertically__wrap v-project-vertically__wrap_right"
          >
            <div class="v-project-vertically__content">
              <h1 class="v-project-vertically__title">
                {{ block.content.title }}
              </h1>
              <p class="v-project-vertically__text">
                {{ block.content.text }}
              </p>
            </div>
          </div>
        </div>
      </template>
      <template v-if="block.type === 'header-horizontal'">
        <div class="v-project-horizontal">
          <figure
            class="v-project-horizontal__wrap v-project-horizontal__wrap_top"
          >
            <img :src="block.content.image" :alt="block.content.title" />
          </figure>
          <div class="container">
            <div
              class="v-project-horizontal__wrap v-project-horizontal__wrap_bot"
            >
              <h1 class="v-project-horizontal__title">
                {{ block.content.title }}
              </h1>
              <p class="v-project-horizontal__text">
                {{ block.content.text }}
              </p>
            </div>
          </div>
        </div>
      </template>
      <template v-if="block.type === 'two-blocks-image-text'">
        <div class="v-project-two-blocks">
          <div class="container">
            <div class="v-project-two-blocks__wrap">
              <div
                      v-for="itm of block.content"
                      :key="itm.id"
                      class="v-project-two-blocks__item"
              >
                <figure class="v-project-two-blocks__img">
                  <img :src="itm.image" alt="Image" />
                </figure>
                <div class="v-project-two-blocks__content">
                  <p class="v-project-two-blocks__text">
                    {{ itm.text }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template v-if="block.type === 'small-image-with-headline'">
        <div class="v-project-sm-img">
          <div class="container">
            <h2 class="v-project-sm-img__title">
              {{ block.content.title }}
            </h2>
            <figure class="v-project-sm-img__img">
              <img :src="block.content.image" alt="block.content.title" />
            </figure>
          </div>
        </div>
      </template>
      <template v-if="block.type === 'video'">
        <div class="v-project-video">
          <div class="container">
            <h2 class="v-project-video__title">
              {{ block.content.title }}
            </h2>
            <figure class="v-project-video__wrap">
              <div class="v-project-video__preview" :ref="`${block.content.videoUrl}`" @click="turnOnVideo(block.content.videoUrl)">
                <img
                  :src="block.content.previewImage"
                  :alt="block.content.title"
                />
                <div class="v-project-video__icon">
                  <svg width="37" height="41" viewBox="0 0 37 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34 17.0359C36.6667 18.5755 36.6667 22.4245 34 23.9641L7.75001 39.1195C5.08334 40.6591 1.75 38.7346 1.75 35.6554L1.75 5.34457C1.75 2.26536 5.08334 0.340855 7.75 1.88045L34 17.0359Z" stroke="#FF1B5F" stroke-width="2"/>
                  </svg>
                </div>
              </div>
              <div class="v-project-video__video" :id="`video-${block.content.videoUrl}`"></div>
            </figure>
          </div>
        </div>
      </template>
      <template v-if="block.type === 'big-image'">
        <figure class="v-project-big-img">
          <img :src="block.content.imageUrl" alt="Big image" />
        </figure>
      </template>
      <template v-if="block.type === 'text-blocks'">
        <div class="v-project-text">
          <div class="container">
            <div class="v-project-text__wrap">
              <div v-for="text of block.content" :key="text.id" class="v-project-text__item">
                <h2 class="v-project-text__title">
                  {{ text.title }}
                </h2>
                <p class="v-project-text__text">
                  {{ text.text }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template v-if="block.type === 'four-images'">
        <div class="v-project-images">
          <div class="container">
            <div class="v-project-images__wrap">
              <figure
                v-for="img of block.content"
                :key="img"
                class="v-project-images__item"
              >
                <img :src="img" alt="Image" />
              </figure>
            </div>
          </div>
        </div>
      </template>
      <template v-if="block.type === 'images-with-header'">
        <div class="v-project-img-title">
          <div class="container">
            <div class="v-project-img-title__wrap">
              <div
                v-for="Item of block.content"
                :key="Item.title"
                class="v-project-img-title__item"
              >
                <h2 class="v-project-img-title__title">
                  {{ Item.title }}
                </h2>
                <figure class="v-project-img-title__img">
                  <img :src="Item.image" :alt="Item.title" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </template>
    </section>
    <section class="v-project-contact">
      <div class="container">
        <h2 class="v-project-contact__title">
          What is your product?
        </h2>
        <router-link :to="{name: 'contact'}" class="v-project-contact__btn">
          <span>
            Contact us
          </span>
        </router-link>
      </div>
    </section>
    <section class="v-project-load">
      <div class="container">
        <div class="v-project-load__ico">
          <svg width="20" height="33" viewBox="0 0 20 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="1" width="19" height="31" rx="9.5" stroke="#3C454F"/>
            <rect x="9" y="7.5" width="2" height="7" rx="1" fill="#3C454F"/>
          </svg>
        </div>
        <p class="v-project-load__text">
          Scroll down - more projects
        </p>
      </div>
    </section>
  </div>
</template>

<script>
import YouTube from 'youtube-iframe';
export default {
  name: 'Project',
  data() {
      // url/cards/:ID
      // url/case/:ID
    return {
      date: '2020-13-12',
      dev_time: '2020',
      id: 2,
      title: 'Case Name',
      main_img_url: 'url',
      link: 'url',
      short_descr: 'Description',
      project_type: 'type',
      main_video_url: 'url',
      content: [
        {
          type: 'header-horizontal',
          content: {
            image: 'img/one-case/case-horizontal.jpg',
            title: 'Projec title name',
            text:
              'Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing'
          }
        },
        {
            type: 'header-vertically',
            content: {
                image: 'img/one-case/case-verticaly.jpg',
                title: 'Projec title name',
                text:
                    'Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing'
            }
        },
        {
          type: 'two-blocks-image-text',
          content: [
            {
                id: 34,
              image: 'img/one-case/case-blocks-text.jpg',
              text:
                'Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing'
            },
            {
                id: 324,
              image: 'img/one-case/case-blocks-text.jpg',
              text:
                'Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing'
            }
          ]
        },
        // {
        //   type: 'slider',
        //   content: [
        //     '/img/one-case/case-slider-image-0.jpg',
        //     '/img/one-case/case-slider-image-1.jpg',
        //     '/img/one-case/case-slider-image-2.jpg',
        //     '/img/one-case/case-slider-image-3.jpg'
        //   ]
        // },
        {
          type: 'small-image-with-headline',
          content: {
            title: 'Headline',
            image: 'img/one-case/case-one-small-image.jpg'
          }
        },
        {
          type: 'video',
          content: {
            title: 'Headtitle',
            previewImage: 'img/one-case/case-video-preview.jpg',
            videoUrl: 'NeQM1c-XCDc'
          }
        },
        {
          type: 'big-image',
          content: {
            imageUrl: 'img/one-case/case-big-image.jpg'
          }
        },
        {
          type: 'text-blocks',
          content: [
            {
                id: 3423,
              title: 'Headtitle',
              text:
                'Anim reprehenderit mollit velit ad ullamco voluptate aliquip mollit nulla voluptate consequat aliquip. Consequat magna anim magna voluptate. Id tempor ex ipsum et aliqua ea esse.\n' +
                'Et anim anim in ad consectetur aute occaecat adipisicing id culpa excepteur laborum in eiusmod. Reprehenderit quis exercitation eiusmod proident culpa velit culpa ut enim ad dolore. Quis elit ut aute eu consectetur minim eu. Aliquip sint esse sunt eu dolore eiusmod Lorem ea sit ut duis magna. Laboris aute nostrud incididunt amet ex magna eiusmod irure sint duis ut ex. Laborum ex ullamco do enim non elit sint ad sint aliqua qui. Duis nostrud fugiat ea occaecat excepteur cupidatat nulla'
            },
            {
                id: 23423,
              title: 'Headtitle',
              text:
                'Anim reprehenderit mollit velit ad ullamco voluptate aliquip mollit nulla voluptate consequat aliquip. Consequat magna anim magna voluptate. Id tempor ex ipsum et aliqua ea esse.\n' +
                'Et anim anim in ad consectetur aute occaecat adipisicing id culpa excepteur laborum in eiusmod. Reprehenderit quis exercitation eiusmod proident culpa velit culpa ut enim ad dolore. Quis elit ut aute eu consectetur minim eu. Aliquip sint esse sunt eu dolore eiusmod Lorem ea sit ut duis magna. Laboris aute nostrud incididunt amet ex magna eiusmod irure sint duis ut ex. Laborum ex ullamco do enim non elit sint ad sint aliqua qui. Duis nostrud fugiat ea occaecat excepteur cupidatat nulla'
            }
          ]
        },
        {
          type: 'four-images',
          content: [
            'img/one-case/case-blocks-text.jpg',
            'img/one-case/case-blocks-text.jpg',
            'img/one-case/case-blocks-text.jpg',
            'img/one-case/case-blocks-text.jpg'
          ]
        },
        {
          type: 'images-with-header',
          content: [
            {
              title: 'Headtitle',
              image: 'img/one-case/case-blocks-text.jpg'
            },
            {
              title: 'Headtitle',
              image: 'img/one-case/case-blocks-text.jpg'
            }
          ]
        }
      ]
    }
  },
  methods: {
        turnOnVideo(code) {
            const self = this;
             YouTube.load((YT) => {
                const vido = new YT.Player(`video-${code}`, {
                    height: '390',
                    width: '640',
                    videoId: code,
                    playerVars: {
                        controls: 0
                    },
                    events: {
                        'onReady': function onPlayerReady(event) {
                            self.$refs[code][0].classList.add('hide')
                            setTimeout(() => event.target.playVideo(), 500)
                        },
                    }
                })
            })
        },
    },
  created() {
      this.$store.dispatch('change_page_name',this.title)
      this.$store.dispatch('set_full_color_navigation',true)
  }
}
</script>

<style lang="scss">
body {
  overflow: visible;
}
.v-project {

}
.v-project-sect {
  height: 100vh;
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  &__section-four-images {
    height: auto;
  }
}
.v-project-vertically {
  @extend %df;
  height: 100vh;
  // .v-project-vertically__wrap

  &__wrap {

    // .v-project-vertically__wrap_left

    &_left {
      width: 620px;
      height: 100vh;
      overflow: hidden;
    }

    // .v-project-vertically__wrap_right

    &_right {
      @extend %df;
      @extend %fdc;
      @extend %jcc;
      padding: 0 0 0 100px;
    }
  }

  // .v-project-vertically__content

  &__content {

    max-width: 480px;
  }

  // .v-project-vertically__title

  &__title {
    @extend %h1-title;
    color: $black;
    margin-bottom: 27px;
  }

  // .v-project-vertically__text

  &__text {
    @extend %simple-text;
    color: $gray;
  }
}
.v-project-horizontal {
  height: 100vh;
  // .v-project-horizontal__wrap

  &__wrap {

    // .v-project-horizontal__wrap_top

    &_top {
      width: 100%;
      overflow: hidden;
    }
    // .v-project-horizontal__wrap_bot

    &_bot {
      @extend %df;
      @extend %jcsb;
      padding-top: 66px;
    }
  }

  // .v-project-horizontal__title

  &__title {
    @extend  %h1-title;
    color: $black;
  }

  // .v-project-horizontal__text

  &__text {
    @extend %simple-text;
    color: $gray;
    max-width: 478px;
  }
}
.v-project-two-blocks {
  padding-top: 120px;
  height: 100vh;
  // .v-project-two-blocks__wrap
  &__wrap {
    @extend %df;
    @extend %jcsb;
  }

  // .v-project-two-blocks__item

  &__item {
    width: 480px;
  }

  // .v-project-two-blocks__img

  &__img {
    width: 100%;
    height: 465px;
    overflow: hidden;
  }

  // .v-project-two-blocks__content

  &__content {
    padding: 40px 10px 0 0;
  }

  // .v-project-two-blocks__text

  &__text {
    @extend %simple-text;
    color: $gray;
  }
}
.v-project-sm-img {
  @extend %df;
  @extend %aic;
  height: 100vh;
  // .v-project-sm-img__title

  &__title {
    @extend %h1-title;
    color: $black;
    margin-bottom: 29px;
  }

  // .v-project-sm-img__img

  &__img {
    width: 100%;
  }
}
.v-project-video {
  @extend %df;
  @extend %aic;
  height: 100vh;
  // .v-project-video__title

  &__title {
    @extend %h1-title;
    color: $black;
    margin-bottom: 29px;
  }

  // .v-project-video__wrap

  &__wrap {
    position: relative;
    width: 100%;
  }

  // .v-project-video__video

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 105px;
    height: 105px;
    transform: translateX(-50%) translateY(-50%) scale(1);
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: rgba($white, .9);
    border-radius: 50%;
    transition: all .5s ease;
    &:hover {
      transform: translateX(-50%) translateY(-50%) scale(1.1);
    }
    svg {
      margin-left: 6px;
    }
  }

  // .v-project-video__preview

  &__preview {
    position: relative;
    width: 100%;
    z-index: 2;
    transition: all .5s ease;
    cursor: pointer;
    &.hide {
      opacity: 0;
      @extend %evt-none;
    }
  }
}
.v-project-big-img {
  width: 100%;
  height: 100vh;
}
.v-project-text {
  height: 100vh;
  // .v-project-text__wrap

  &__wrap {
    @extend %df;
    @extend %jcsb;
    padding-top: 123px;
  }

  // .v-project-text__item

  &__item {
    width: 480px;
  }

  // .v-project-text__title

  &__title {
    @extend %h2-title;
    color: $black;
    margin-bottom: 26px;
  }

  // .v-project-text__text

  &__text {
    @extend %simple-text;
    color: $gray;
  }
}
.v-project-images {
  padding-top: 120px;
  padding-bottom: 80px;
  // .v-project-images__wrap

  &__wrap {
    @extend %df;
    @extend %fw;
    @extend %jcsb;
  }

  // .v-project-images__item

  &__item {
    width: 480px;
    height: 465px;
    overflow: hidden;
    margin-bottom: 41px;
  }
}
.v-project-img-title {
  @extend %df;
  @extend %fdc;
  @extend %jcc;
  //@extend %aic;
  height: 100vh;
  // .v-project-img-title__wrap

  &__wrap {
    @extend %df;
    @extend %jcsb;
  }

  // .v-project-img-title__item

  &__item {
    width: 480px;
  }

  // .v-project-img-title__title

  &__title {
    @extend %h2-title;
    color: $black;
    margin-bottom: 38px;
  }

  // .v-project-img-title__img

  &__img {
    width: 100%;
    overflow: hidden;
  }
}
.v-project-contact {
  @extend %df;
  @extend %jcc;
  @extend %aic;
  height: 100vh;
  &__title {
    @extend %h1-title;
    color: $black;
    text-align: center;
    margin-bottom: 55px;
  }
  &__btn {
    @extend %base-btn;
    border-color: $cta;
    color: $cta;
    width: 173px;
    height: 50px;
    margin: 0 auto;
    &:hover {
      border-color: $black;
      color: $black;
    }
  }
}
.v-project-load {
  @extend %df;
  @extend %jcc;
  @extend %aic;
  background-color: rgba($gray_light, .1);
  height: 152px;
  &__ico {
    margin-bottom: 15px;
    svg {
      display: block;
      margin: 0 auto;
    }
  }
  &__text {
    @extend %simple-text;
    color: $gray;
  }
}
@include bp(1190px) {
  .v-project-sect {
    height: auto;
    .container {
      max-width: 700px;
      margin: 0 auto;
    }
  }
  %title-proj {
    font-size: rem(30);
    line-height: rem(33);
  }
  %text-proj {
    font-size: rem(14);
    line-height: rem(26);
  }
  .v-project-horizontal {
    height: auto;
    padding-bottom: 120px;
    &__title {
      @extend %title-proj;
    }
    &__text {
      @extend %text-proj;
      max-width: 338px;
    }
  }
  .v-project-vertically {
    height: auto;
    &__wrap {
      &_left {
        width: 340px;
        height: 384px;
      }
      &_right {
        padding-left: 50px;
      }
    }
    &__title {
      @extend %title-proj;
    }
    &__text {
      @extend %text-proj;
      max-width: 339px;
    }
  }
  .v-project-two-blocks {
    height: auto;
    padding-bottom: 120px;
    &__item {
      width: 340px;
    }
    &__img {
      height: 326px;
    }
    &__text {
      @extend %text-proj;
    }
  }
  .v-project-sm-img {
    height: auto;
    padding: 120px 0;
    &__title {
      @extend %title-proj;
    }
  }
  .v-project-video {
    height: auto;
    padding: 120px 0;
    &__title {
      @extend %title-proj;
    }
  }
  .v-project-big-img {
    height: auto;
  }
  .v-project-text {
    height: auto;
    padding: 120px 0;
    &__wrap {
      padding-top: 0;
    }
    &__title {
      font-size: rem(25);
      line-height: rem(30);
    }
    &__text {
      @extend %text-proj;
    }
    &__item {
      width: 340px;
    }
  }
  .v-project-images {
    height: auto;
    padding: 120px 0;
    &__item {
      width: 340px;
      height: 326px;
    }
  }
  .v-project-img-title {
    height: auto;
    padding: 120px 0 0 0;
    &__title {
      @extend %title-proj;
    }
    &__item {
      width: 340px;
    }
  }
}
@include bp(766px) {
  .v-project {
    padding-top: 62px;
  }
  .v-project-sect {
    .container {
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  .v-project-horizontal {
    &__wrap {
      &_bot {
        flex-direction: column;
      }
    }
    &__text {
      margin-top: 15px;
      max-width: 100%;
    }
  }
  .v-project-vertically {
    flex-direction: column;
    &__wrap {
      &_left {
        width: 100%;
        height: auto;
        margin-bottom: 46px;
      }
      &_right {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
  .v-project-two-blocks {
    &__wrap {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      margin-bottom: 100px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .v-project-text {
    &__wrap {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      margin-bottom: 100px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .v-project-images {
    &__wrap {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .v-project-img-title {
    &__wrap {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      margin-bottom: 100px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .v-project-contact__title {
    font-size: rem(30);
    line-height: rem(33);
  }
}
</style>
