<template lang="pug">
  <router-link :to="{ name: path }" :class="className"> 
    slot
  </router-link>
</template>

<script>
export default {
  props: {
    path: {
      type: String,
      default: 'Home'
    },
    className: {
      type: String
    }
  }
}
</script>

<style lang="scss" scoped></style>
