<template>
  <ul class="c-select" :class="{ active: isOpen }" @click="openSelect">
    <li class="c-select__wrapper">
      <div class="c-select__current-val">
        <span class="c-select__val">
          {{ current }}
        </span>
        <BaseIcon name="arrow-right" />
      </div>
      <ul class="c-select__options">
        <li
          v-for="option in options"
          :key="option.val"
          class="c-select__option"
          @click="changeValue(option.val)"
        >
          <span class="c-select__option-text">
            {{ option.text }}
          </span>
        </li>
      </ul>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'BaseSelect',
  props: {
    placeholder: {
      type: String
    },
    options: {
      type: Array
    },
    value: null
  },
  data() {
    return {
      isOpen: false
    }
  },
  computed: {
    current() {
      const option = this.options.find(
        findOption => findOption.val === this.value
      )
      return option ? option.text : this.placeholder
    }
  },
  methods: {
    openSelect() {
      this.isOpen = !this.isOpen
    },
    changeValue(val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="scss">
.c-select {
  position: relative;
  width: rem(230);
  height: rem(50);
  cursor: pointer;
  /*margin-bottom: rem(20);*/
  z-index: 10;
  &.active {
    .c-select__options {
      opacity: 1;
      @extend %evt-all;
    }
  }
  &__wrapper {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    padding-left: rem(26);
    padding-right: rem(25);
    background-color: rgba($gray_light, 0.1);
  }
  &__current-val {
    width: 100%;
    @extend %simple-text;
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    color: $gray;
    .icon-arrow-right {
      width: rem(18);
      height: rem(15);
      transform: rotate(90deg);
    }
  }
  &__options {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #f3f6f9;
    border-radius: 0 0 2px 2px;
    opacity: 0;
    transition: all 0.5s ease;
    @extend %evt-none;
    z-index: 10;
  }
  &__option {
    padding-left: rem(26);
    height: rem(28);
    margin-bottom: rem(7);
    &:hover {
      span {
        color: $cta;
      }
    }
    &-text {
      @extend %simple-text;
      color: $gray;
      transition: all 0.5s ease;
    }
  }
}
@include bp(766px) {
  .c-select {
    width: 100%;
  }
}
</style>
