<template lang="pug">
    .c-input
        input(type="text" :placeholder="placeholder" v-model="val" @input="changeInput")
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String
    }
  },
  data() {
    return {
      val: ''
    }
  },
  methods: {
    changeInput() {
      this.$emit('input', this.val)
    }
  }
}
</script>

<style scoped lang="scss">
.c-input {
  width: 100%;
  height: rem(50);
  /*margin-bottom: rem(20);*/
  input {
    @extend %input-reset;
    background-color: rgba($gray_light, 0.1);
    color: $black;
    @extend %simple-text;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    padding-left: rem(26);
  }
}
</style>
