<template lang="pug">
.menu
  ul.menu__wrap
    li.menu__item
      <router-link :to="{ name: 'Home' }" class="menu__item-link">
        span Portfolio
      </router-link>
    li.menu__item
      <router-link :to="{ name: 'Home' }" class="menu__item-link">
        span About id.
      </router-link>
    li.menu__item
      <router-link :to="{ name: 'Home' }" class="menu__item-link">
        span Read us
      </router-link>
    li.menu__item
      <router-link :to="{ name: 'Home' }" class="menu__item-link">
        span Contact
      </router-link>
  ul.social
    li.social__item
      a(href="#").social__item-link
        span Behance
    li.social__item
      a(href="#").social__item-link
        span Dribbble
    li.social__item
      a(href="#").social__item-link
        span Instagram
    li.social__item
      a(href="#").social__item-link
        span Facebook
    li.social__item
      a(href="#").social__item-link
        span Twitter
    li.social__item
      a(href="#").social__item-link
        span Linkedin
  .sitemap
    <router-link :to="{ name: 'Home' }" class="sitemap__link">
      BaseIcon(name="sitemap" width="20" height="20")
      span.sitemap__tooltip Sitemap
    </router-link>
            

</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
