<template lang="pug">
  .navigation(:class="{'full-color': $store.state.navigationFullColor, 'about-page': isAboutPage}")
    .container
      <router-link :to="{ name: 'Home' }" class="logo"  :class="{white: whiteLogo}">
        img(:src="logoImg", ref="logo", alt="Logotype Id Agensy")
        span.logo__text {{this.$store.state.pageName}}
      </router-link>
      .menu(:class="{open: openMenu}")
        ul.menu__wrap(@click="openMenuModal")
          li.menu__item
            <router-link :to="{ name: 'Portfolio', params: { type: 'all' } }" class="menu__item-link">
              span Portfolio
            </router-link>
          li.menu__item
            <router-link :to="{ name: 'About' }" class="menu__item-link">
              span About id.
            </router-link>
          li.menu__item
            <a href="https://medium.com" target="_blank" class="menu__item-link">
              span Read us
            </a>
          li.menu__item
            <router-link :to="{ name: 'contact' }" class="menu__item-link">
              span Contact
            </router-link>
        ul.social
          li.social__item
            a(href="#").social__item-link
              span Behance
          li.social__item
            a(href="#").social__item-link
              span Dribbble
          li.social__item
            a(href="#").social__item-link
              span Instagram
          li.social__item
            a(href="#").social__item-link
              span Facebook
          li.social__item
            a(href="#").social__item-link
              span Twitter
          li.social__item
            a(href="#").social__item-link
              span Linkedin
        .sitemap
          <router-link :to="{ name: 'Home' }" class="sitemap__link">
            BaseIcon(name="sitemap" mod="white" width="20" height="20")
            span.sitemap__tooltip Sitemap
          </router-link>
      .burger(ref="burger" :class="{active: openMenu, white: whiteBurger || isContactPage}", @click="openMenuModal")
        span
        span
        span
</template>

<script>
export default {
    props: {
        aboutSectPosition: {
            type: Number,
        },
        aboutSectEnd: {
            type: Number
        },
        window_scroll: {
          type: Number,
        }
    },
  data() {
    return {
      openMenu: false,
      burgerPosition: 0,
      logoPosition: 0
    }
  },
  methods: {
    openMenuModal() {
      this.openMenu = !this.openMenu
    },
    getCoords(elem) {
        let box = elem.getBoundingClientRect();
        return  this.isMobile ? box.left + pageYOffset : box.top + pageYOffset;
    },
  },
  computed: {
      isContactPage() {
        const { name } = this.$route
        return name === 'contact' && this.isMobile
      },
      whiteBurger() {
          const  { isHomePage, aboutSectPosition, burgerPosition, aboutSectEnd } = this;
        // console.log(window.scrollY < aboutSectEnd, 'window.scrollY < aboutSectEnd')
          return this.isMobile ?
            isHomePage && burgerPosition > aboutSectPosition && burgerPosition < aboutSectEnd
            :
            this.window_scroll > aboutSectPosition && this.window_scroll < aboutSectEnd
      },
      whiteLogo() {
        const { isHomePage, logoPosition, aboutSectPosition, aboutSectEnd } = this;
        // console.log(logoPosition > aboutSectPosition, logoPosition , aboutSectPosition)
          return this.isMobile ?
            isHomePage && logoPosition > aboutSectPosition && logoPosition < aboutSectEnd
            :
            this.window_scroll > aboutSectPosition && this.window_scroll < aboutSectEnd
      },
      logoImg() {
          return this.whiteLogo || this.isAboutPage ? 'img/logo-white.svg' : 'img/logo.svg'
      },
      isAboutPage() {
        const { name } = this.$route
        return name == 'About'
      },
      isHomePage() {
        const { name } = this.$route
        return name == 'Home'
      },
      isMobile() {
        return this.$store.getters.window_width
      },
      window_scroll_getter() {
        return window.scrollY
      }
  },
    mounted() {
        this.burgerPosition = this.getCoords(this.$refs.burger)
        this.logoPosition = this.getCoords(this.$refs.logo)
    },
}
</script>

<style lang="scss">
.about-page {
  background-color: $black;
  transition: all .5s ease .5s;
  .logo__text {
    color: $white;
  }
  .burger {
    span {
      background-color: $white;
    }
  }
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  z-index: 99;
  transition: all .5s ease .3s;
  &.full-color {
    background-color: $white;
  }
  .container {
    width: 1000px;
    margin: 0 auto;
    @extend %df;
    @extend %aic;
    @extend %jcsb;
  }
}
.logo {
  @extend %df;
  @extend %aic;
  &.white {
    .logo__text {
      color: $white;
    }
  }
  &__text {
    @extend %bold;
    font-size: rem(20);
    line-height: rem(22);
    color: $black;
    margin-top: 10px;
    margin-left: 8px;
    transition: all .5s ease;
  }
}
.burger {
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: 35px;
  height: 26px;
  @extend %df;
  @extend %aic;
  @extend %fdc;
  @extend %jcsb;
  &.white {
    span {
      background-color: $white;
    }
  }
  span {
    @extend %db;
    @extend %evt-none;
    width: 100%;
    height: 3.5px;
    background-color: $black;
    border-radius: 30px;
    transition: all 0.5s ease;
    &:nth-child(2) {
      width: 26px;
      margin-top: 1px;
      margin-right: auto;
      transition: all 0.3s ease;
    }
  }
  &.active {
    span {
      position: absolute;
      top: 11px;
      background-color: $white;
      &:first-child {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        position: relative;
        width: 0;
        margin-top: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
        top: 12px;
      }
    }
  }
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $black;
  width: 506px;
  height: 100vh;
  padding: 93px 0 48px 68px;
  z-index: 1;
  @extend %df;
  @extend %fdc;
  @extend %jcsb;
  transform: translateX(100%);
  transition: all 0.5s ease;
  &.open {
    transform: translateX(0);
  }
  &__wrap {
    margin-bottom: 0;
  }
  &__item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-link {
    @extend %h2-title;
    color: $white;
    transition: all 0.3s ease;
    &:hover {
      color: $cta;
      padding-left: rem(15);
    }
    &.router-link-active {
      color: $cta;
    }
  }
}
.social {
  @extend %df;
  @extend %fw;
  max-width: 200px;
  margin-bottom: 97px;
  &__item {
    position: relative;
    margin-right: 16px;
    margin-bottom: 5px;
    &:hover {
      &:after {
        opacity: 1;
      }
    }
    &:after {
      position: absolute;
      content: '';
      @extend %db;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: $white;
      transition: all 0.3s ease;
      opacity: 0;
      @extend %evt-none;
    }
  }
  &__item-link {
    @extend %simple-text;
    color: $white;
  }
}
.sitemap {
  &__link {
    @extend %df;
    @extend %aic;
    .icon {
      color: $white;
    }
    &:hover {
      .sitemap__tooltip {
        opacity: 1;
      }
    }
  }
  &__tooltip {
    position: relative;
    @extend %db;
    padding: 4px 11px;
    @extend %regular;
    font-size: rem(14);
    letter-spacing: 0.02em;
    color: $black;
    background-color: $gray;
    margin-left: 16px;
    opacity: 0;
    transition: all 0.3s ease;
    &:after {
      position: absolute;
      content: '';
      @extend %db;
      left: -4px;
      top: 50%;
      margin-top: -2px;
      width: 0;
      height: 0;
      border-top: 2px solid transparent;
      border-right: 4px solid $gray;
      border-bottom: 2px solid transparent;
    }
  }
}
@include bp(1190px) {
  .navigation {
    .container {
      @extend %tablet-container;
    }
  }
}
@include bp(766px) {
  .navigation {
    .container {
      @extend %container-block-mobile;
    }
  }
  .menu {
    width: 100%;
  }
  .logo {
    img {
      width: 33px;
      height: 33px;
    }
    &__text {
      font-size: rem(14);
      line-height: rem(15);
      margin-top: 15px;
      margin-left: 4px;
    }
  }
}
</style>
