<template>
  <router-link class="service-item" :to="{ name: service_item.routeName }">
    <div class="service-item__wrap-top">
      <figure class="service-item__wrap-img"><img :src="service_item.imgUrl" :alt="service_item.name"/></figure>
      <template v-if="isMobile">
        <video class="service-item__video" ref="cardVideo" muted="muted" @mouseover="mouseOver" @mouseleave="mouseOut">
          <source :src="service_item.videoUrl" type="video/mp4"/>
        </video>
      </template>
    </div>
    <div class="service-item__wrap-bot">
      <h3 class="service-item__title">{{service_item.name}}</h3>
      <h4 class="service-item__desc">{{service_item.description}}</h4>
    </div>
  </router-link>
</template>

<script>
  export default {
    props: {
      service_item: {
        type: Object
        // require: true
      }
    },
    methods: {
      mouseOver() {
        if(this.isMobile) {
          if (this.$refs.cardVideo.currentTime > 0) {
            this.$refs.cardVideo.currentTime = 0
          }
          this.$refs.cardVideo.play()
        } else {
          return
        }
      },
      mouseOut() {
        if(this.isMobile) {
          this.$refs.cardVideo.pause()
        } else {
          return
        }
      },
    },
    computed: {
      isMobile() {
        return this.$store.getters.window_width
      }
    },
  }
</script>

<style lang="scss">
  .service-item {
    @extend %db;
    width: 400px;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      margin-right: 65px;
      /*margin: 0 65px;*/

      img {
        opacity: 0;
      }

      .service-item__wrap-bot {
        opacity: 1;
      }
    }

    &__wrap-top {
      position: relative;
      width: 100%;
      height: 508px;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        pointer-events: none;
      }
    }

    &__wrap-bot {
      margin-top: 19px;
      transition: all 0.5s ease;
      opacity: 0;
    }

    &__video {
      width: 100%;
      height: 100%;
    }

    &__title {
      @extend %h2-title;
      color: $black;
      margin-bottom: 6px;
    }

    &__desc {
      @extend %simple-text;
      color: $gray;
    }
  }

@include bp(1190px) {
    .service-item {
      width: 337px;
      margin-right: 0;
      height: 429px;
      margin-bottom: 25px;
      &:hover {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 25px;
        img {
          opacity: 1;
        }
      }
      &__wrap-top {
        height: 100%;
      }
    }
}
@include bp(766px) {
  .service-item {
    width: 100%;
    height: auto;
    &__wrap {
      &-top {
        height: 402px;
      }
      &-bot {
        opacity: 1;
      }
    }
    &__title {
      font-size: rem(25);
    }
    &__text {
      font-size: rem(14);
    }
  }
}
</style>
