<template>
  <main>
    <NavBar :aboutSectPosition="aboutSectPosition" :aboutSectEnd="aboutSectEnd" :window_scroll="window_scroll"/>
    <transition name="slide-fade">
      <router-view @changeNav="changeNavigation"/>
    </transition>
  </main>
</template>

<script>
import NavBar from '@/components/NavBar.vue'
export default {
  components: {
    NavBar
  },
    data() {
        return {
            aboutSectPosition: 99999,
            aboutSectEnd: 0,
            window_scroll: 0
        }
    },
    methods: {
        changeNavigation({position, end}) {
            this.aboutSectPosition = position
            this.aboutSectEnd = end
            this.window_scroll= window.scrollY
        }
    },
  created() {

  }
}
</script>

<style lang="scss">
.slide-fade-enter-active {
  transition: all .5s ease .4s;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(500px);
  opacity: 0;
}
/*body {*/
/*  overflow: hidden !important;*/
/*}*/
</style>
