%base-btn {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  width: 220px;
  height: 50px;
  @extend %btn-medium;
  border: 1px solid $gray;
  color: $gray;
  border-radius: 2px;
  &:hover {
    border-color: $cta;
    color: $cta;
  }
}
%base-btn-red {
  @extend %base-btn;
  color: $cta;
  border-color: $cta;
}