//---------------------------------------------fonts
$font_path: "~@/assets/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '~@/assets/img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #fff;
$black: #141D25;
$gray: #3C454F;
$gray_light: #6B8CB0;
$cta: #FF1B5F;

$tooltipBG: rgba(255, 255, 255, 0.112);

$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###